mat-form-field{
    margin-left: 10px;
    margin-right: 10px;
}

mat-expansion-panel, mat-card{
    width: fit-content;
}

mat-card{
    margin: auto;
    background-color:rgb(197, 197, 218,.5);
}

form{
    margin-bottom: 30px;
}

.add-btn{
    margin-left: 20px;
}

.submit{
    margin: auto;
    margin-top: 7%;
    margin-left: 40%;
    margin-bottom: 7%;
}