/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-notification,.info-notification,.warning-notification,.success-notification{
    color: white !important;
    .mat-simple-snackbar-action {
        color: white !important;
    }
}
.error-notification{
    background: rgb(255, 78, 78);
}
.info-notification{
    background:rgb(97, 97, 255);
}
.warning-notification{
    background:rgb(177, 177, 0);
}
.success-notification{
    background:rgb(37, 177, 37);
}