mat-form-field{
    margin-left: 10px;
    margin-right: 10px;
}

mat-expansion-panel, mat-card{
    width: fit-content;
}

mat-card{
    background-color:rgb(197, 197, 218,.5);
}

.delete-btn{
    margin-left: 5px;
}